<html lang="pl"><head>
    <title>School File Manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link rel="shortcut icon" href="file.svg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&amp;display=swap" rel="stylesheet">

    <style>
      #root {
        background-color: #111111;
        width: 100vw;
        height: 100vh;
        color: white;
        font-family: "Montserrat", sans-serif;
      }
    </style>
  <body>
    <div id="root" class="d-flex flex-row">
      <div class="w-75 h-100 d-flex flex-column align-items-center">
        <div class="pl-3 pr-3 pt-3 pb-3 mt-4 mb-4 rounded w-75" style="background-color: #332e30">
          <form class="d-flex flex-row" action="/sort">
          <div class="m-auto">Sortowanie wg. nauczyciela:</div>
          <div class="m-auto">
            <select name="teacher" class="pl-4 pr-4 pt-2 pb-2 form-select rounded">
              <% for(let i=0; i<dataTeachers.length; i++) {%>
                <option value="<%=dataTeachers[i].teacher%>"><%=dataTeachers[i].teacher%></option>
              <% } %>
              
            </select>
          </div>
          <div class="m-auto">
            <input type="submit" class="btn btn-warning" value="Sortuj">
          </div>
        </form>
        </div>
        <div class="text-center">
          <ul>
            <% for(let i=0; i<dataSorted.length; i++) {%>
              <li>
                <b><%=dataSorted[i].teacher%>:</b>
                <a href="files/<%=dataSorted[i].name%>"><%=dataSorted[i].name%></a>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
      <div class="w-25 h-100 d-flex flex-column">
        <div class="mt-4">
          <p class="text-center fs-1">Instrukcja</p>
          <br>
          <ol>
            <li>abc</li>
            <li>abc</li>
            <li>abc</li>
            <li>abc</li>
            <li>abc</li>
            <li>abc</li>
          </ol>
        </div>
        <div class="mt-auto mb-auto text-center">
            <form ref="uploadForm" id="uploadForm" method="POST" action="/add" encType="multipart/form-data" class="d-flex flex-column align-items-center justify-content-center">
                <select name="teacher" class="pl-2 pr-2 pt-2 pb-2 mt-2 rounded">
                  <% for(let i=0; i<dataTeachers.length; i++) {%>
                    <option value="<%=dataTeachers[i].teacher%>"><%=dataTeachers[i].teacher%></option>
                  <% } %>
                </select>
                <input type="file" name="fileName" class="w-75">
                <input type="submit" class="btn btn-warning mt-2 w-75" value="Dodaj pliki">
              </form>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body></html>